$maincolor: #303030;
$fontsize: 14px;
@import './reset';
@import './header';
@import './main';
@font-face {
  font-family: 'UniSans';
  src: url('../fonts/ofont.ru_Uni Sans.eot');
  src: local('☺'), url('../fonts/ofont.ru_Uni Sans.woff') format('woff'),
    url('../fonts/ofont.ru_Uni Sans.ttf') format('truetype'),
    url('../fonts/ofont.ru_Uni Sans.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif, 'Inter', sans-serif, 'Prata', serif,
    'Roboto Condensed', sans-serif;
  font-size: $fontsize;
  font-weight: 400;
  color: $maincolor;
}
.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  > main {
    flex: 1 1 auto;
  }
}

._container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
  @media (max-width: 900px) {
    padding: 5px;
    margin: 0;
  }
}
//////////////////////select/////////////////////////

.custom-select__header-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
.custom-select__header-wrapper select {
  display: none;
}
.custom-select__header {
  position: relative;
  display: inline-block;
}
.custom-select__header-trigger1 {
  position: relative;
  width: 142px;
  padding: 0 14px 0 25px;
  font-size: $fontsize;
  color: $maincolor;
  cursor: pointer;
  z-index: 2;
  &:hover::before {
    opacity: 0.5;
    transition: all 0.2s ease;
  }
}
.custom-select__header-trigger1:after {
  position: absolute;
  display: block;
  content: '';
  width: 5px;
  height: 5px;
  top: 65%;
  right: 0;
  margin-top: -3px;
  border-bottom: 2px solid #303030;
  border-right: 2px solid #303030;
  transform: rotate(45deg) translateY(-50%);
  transition: all 0.3s ease-in-out;
  transform-origin: 50% 0;
}
.custom-select__header-trigger1:before {
  position: absolute;
  content: url('../images/icon-map.svg');
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transform-origin: 50% 0;
  display: block;
}
.select-item.custom-select__header-trigger1 {
  background: #f0f0f0;
  padding: 9px 130px 9px 16px;
}

.custom-select__header.opened .custom-select-trigger1:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}
.custom-select__header.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 22px;
  z-index: 1;
  font-family: 'Inter';
  font-weight: 400;
  font-size: $fontsize;
  line-height: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  margin-bottom: 20px;
  padding: 10px 12px;
}
.custom-option:hover {
  background: #fafafa;
}
.custom-options {
  position: absolute;
  display: block;
  top: 180%;
  left: 0;
  right: 0;
  width: 145px;
  /*margin 15px 0*/
  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
  z-index: 100;
}
///////////////////////////////////////////////////////////////////////////
/// select for card-slider///////////////////////////////////////////
.custom-select__item-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
.custom-select__item-wrapper select {
  display: none;
}
.custom-select__item {
  position: relative;
  display: inline-block;
}
.custom-select__item-trigger2 {
  position: relative;
  width: 262px;
  padding: 13px 10px;
  font-size: $fontsize;
  color: $maincolor;
  cursor: pointer;
  z-index: 2;
  background: #f0f0f0;
  display: block;
}
.custom-select__item-trigger2:after {
  position: absolute;
  display: block;
  content: '';
  width: 5px;
  height: 5px;
  top: 65%;
  right: 5%;
  margin-top: -3px;
  border-bottom: 2px solid #303030;
  border-right: 2px solid #303030;
  transform: rotate(45deg) translateY(-50%);
  transition: all 0.3s ease-in-out;
  transform-origin: 50% 0;
}

.select-item.custom-select__item-trigger2 {
  background: #f0f0f0;
  padding: 9px 130px 9px 16px;
}

.custom-select__item.opened .custom-select-trigger2:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}
.custom-select__item.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 22px;
  z-index: 1;
  font-family: 'Inter';
  font-weight: 400;
  font-size: $fontsize;
  line-height: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  margin-bottom: 20px;
  padding: 10px 12px;
}
.custom-option:hover {
  background: #fafafa;
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;

  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
}
